@charset "UTF-8";
/* 註解 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*boostrap-sass start*/
/*boostrap-sass end*/
h1 {
  font-size: 40px;
}

nav ul li {
  font-size: 18px;
}

.wrapper-index h1 {
  font-size: 33px;
}

.wrapper-aboutus h1 {
  font-size: 32px;
}

body {
  padding: 0;
  color: #333;
  margin: 10px 20px 30px 10px;
  font-size: 18px;
  background-color: #fefe00;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrapper .row {
  display: flex;
  width: 100%;
}

.wrapper .row h1 {
  font-size: 36px;
}

.wrapper .row p {
  font-size: 15px;
}

.wrapper .row p span {
  font: 12px;
}

.wrapper .row .btncolor {
  width: 200px;
  height: 40px;
  background-color: #03c973;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.wrapper .row .btncolor:hover {
  background-color: #03c973;
}

.wrapper .row .btncolor::after {
  content: '';
}

.wrapper .row .btncolor::before {
  content: '';
}

.box {
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.box-wide {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 1200px;
  height: 2vh;
}

.box-small {
  width: 80%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.btn-large {
  font-size: 20px;
  width: 300px;
  background-color: #00ffd0;
  color: #333;
  padding: 20px;
  text-align: center;
  border: 1px solid #00e6bb;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.btn-large:hover {
  background-color: #00997d;
}

.btn-medium {
  font-size: 15px;
  width: 150px;
  background-color: #7700ff;
  color: #fbff04;
  padding: 20px;
  text-align: center;
  border: 1px solid #6b00e6;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.btn-medium:hover {
  background-color: #470099;
}

.btn-small {
  font-size: 14px;
  width: 90px;
  background-color: #fc7070;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border: 1px solid #fb5757;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 20px;
  margin-top: 10px;
}

.btn-small:hover {
  background-color: #fa0c0c;
}

.box-o {
  width: 11px;
  height: 9px;
  margin: 100px;
  font: 2.5px;
}

.box-s {
  width: 33px;
  height: 33px;
  margin: 34px;
}

.bgc_area {
  background-color: #000;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 28px;
}

.blue, .box-color, .btn-default, .btn-large {
  color: blue;
}

.green, .box-test {
  color: green;
}

.yellow {
  color: #f7f700;
}

.border, .box-color, .btn-default, .btn-large {
  border: 1px solid #00ffd0;
}

.borde-r, .box-color {
  border-radius: 5px;
}

.box-color {
  width: 300px;
  height: 50px;
  background-color: #fff;
}

.big {
  font-size: 4.8rem;
}

.medium, .box-test {
  font-size: 2.4rem;
}

.small {
  font-size: 0.8rem;
}

.box-test {
  width: 400px;
  height: 50px;
}

.btn-default {
  width: 100px;
  padding: 30px;
  text-align: center;
}

.btn-large {
  width: 200px;
  padding: 50px;
  text-align: center;
}

.col-1 {
  width: 8.33333%;
  display: inline-block;
}

.col-2 {
  width: 16.66667%;
  display: inline-block;
}

.col-3 {
  width: 25%;
  display: inline-block;
}

.col-4 {
  width: 33.33333%;
  display: inline-block;
}

.col-5 {
  width: 41.66667%;
  display: inline-block;
}

.col-6 {
  width: 50%;
  display: inline-block;
}

.col-7 {
  width: 58.33333%;
  display: inline-block;
}

.col-8 {
  width: 66.66667%;
  display: inline-block;
}

.col-9 {
  width: 75%;
  display: inline-block;
}

.col-10 {
  width: 83.33333%;
  display: inline-block;
}

.col-11 {
  width: 91.66667%;
  display: inline-block;
}

.col-12 {
  width: 100%;
  display: inline-block;
}

@media all and (min-width: 550px) {
  .content {
    font-size: 30px;
  }
}

@media all and (min-width: 1366x) {
  .wrapper {
    width: 1200px;
  }
}

@media all and (max-width: 769px) and (min-width: 1200px) {
  .wrapper {
    width: 960px;
  }
}

@media all and (max-width: 768px) {
  .wrapper {
    width: 400px;
  }
}

.box_1 {
  width: 1px;
}

.box_2 {
  width: 2px;
}

.box_3 {
  width: 3px;
}

.box_4 {
  width: 4px;
}

.img_a1 {
  background-image: url("./assets/img/a1.png");
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_a2 {
  background-image: url("./assets/img/a2.png");
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_b1 {
  background-image: url("./assets/img/b1.jpg");
  width: 600px;
  height: 480px;
}

.img_b2 {
  background-image: url("./assets/img/b2.jpg");
  width: 600px;
  height: 480px;
}

h1 {
  font-size: 40px;
}

h1::after, h1::before {
  content: '';
}

h2 {
  font-size: 30px;
}

h2::after, h2::before {
  content: '';
}

h3 {
  font-size: 28px;
}

h3::after, h3::before {
  content: '';
}

h4 {
  font-size: 20px;
}

h4::after, h4::before {
  content: '';
}

h5 {
  font-size: 16px;
}

h5::after, h5::before {
  content: '';
}
/*# sourceMappingURL=style.css.map */