@charset "UTF-8";
/* 註解 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*boostrap-sass start*/
/*boostrap-sass end*/
h1 {
  font-size: 40px;
}

nav ul li {
  font-size: 18px;
}

.wrapper-index h1 {
  font-size: 33px;
}

.wrapper-aboutus h1 {
  font-size: 32px;
}

body {
  padding: 0;
  color: #333;
  margin: 10px 20px 30px 10px;
  font-size: 18px;
  background-color: #fefe00;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrapper .row {
  display: flex;
  width: 100%;
}

.wrapper .row h1 {
  font-size: 36px;
}

.wrapper .row p {
  font-size: 15px;
}

.wrapper .row p span {
  font: 12px;
}

.wrapper .row .btncolor {
  width: 200px;
  height: 40px;
  background-color: #03c973;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.wrapper .row .btncolor:hover {
  background-color: #03c973;
}

.wrapper .row .btncolor::after {
  content: '';
}

.wrapper .row .btncolor::before {
  content: '';
}

.box {
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.box-wide {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 1200px;
  height: 2vh;
}

.box-small {
  width: 80%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.btn-large {
  font-size: 20px;
  width: 300px;
  background-color: #00ffd0;
  color: #333;
  padding: 20px;
  text-align: center;
  border: 1px solid #00e6bb;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.btn-large:hover {
  background-color: #00997d;
}

.btn-medium {
  font-size: 15px;
  width: 150px;
  background-color: #7700ff;
  color: #fbff04;
  padding: 20px;
  text-align: center;
  border: 1px solid #6b00e6;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.btn-medium:hover {
  background-color: #470099;
}

.btn-small {
  font-size: 14px;
  width: 90px;
  background-color: #fc7070;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border: 1px solid #fb5757;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 20px;
  margin-top: 10px;
}

.btn-small:hover {
  background-color: #fa0c0c;
}

.box-o {
  width: 11px;
  height: 9px;
  margin: 100px;
  font: 2.5px;
}

.box-s {
  width: 33px;
  height: 33px;
  margin: 34px;
}

.bgc_area {
  background-color: #000;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 28px;
}

.blue, .box-color, .btn-default, .btn-large {
  color: blue;
}

.green, .box-test {
  color: green;
}

.yellow {
  color: #f7f700;
}

.border, .box-color, .btn-default, .btn-large {
  border: 1px solid #00ffd0;
}

.borde-r, .box-color {
  border-radius: 5px;
}

.box-color {
  width: 300px;
  height: 50px;
  background-color: #fff;
}

.big {
  font-size: 4.8rem;
}

.medium, .box-test {
  font-size: 2.4rem;
}

.small {
  font-size: 0.8rem;
}

.box-test {
  width: 400px;
  height: 50px;
}

.btn-default {
  width: 100px;
  padding: 30px;
  text-align: center;
}

.btn-large {
  width: 200px;
  padding: 50px;
  text-align: center;
}

.push-right_1 {
  position: relative;
  right: 1px;
}

.push-right_2 {
  position: relative;
  right: 2px;
}

.push-right_3 {
  position: relative;
  right: 3px;
}

.push-right_4 {
  position: relative;
  right: 4px;
}

.push-right_5 {
  position: relative;
  right: 5px;
}

.push-right_6 {
  position: relative;
  right: 6px;
}

.push-right_7 {
  position: relative;
  right: 7px;
}

.push-right_8 {
  position: relative;
  right: 8px;
}

.push-right_9 {
  position: relative;
  right: 9px;
}

.push-right_10 {
  position: relative;
  right: 10px;
}

.push-right_11 {
  position: relative;
  right: 11px;
}

.push-right_12 {
  position: relative;
  right: 12px;
}

.push-right_13 {
  position: relative;
  right: 13px;
}

.push-right_14 {
  position: relative;
  right: 14px;
}

.push-right_15 {
  position: relative;
  right: 15px;
}

.push-right_16 {
  position: relative;
  right: 16px;
}

.push-right_17 {
  position: relative;
  right: 17px;
}

.push-right_18 {
  position: relative;
  right: 18px;
}

.push-right_19 {
  position: relative;
  right: 19px;
}

.push-right_20 {
  position: relative;
  right: 20px;
}

.push-right_21 {
  position: relative;
  right: 21px;
}

.push-right_22 {
  position: relative;
  right: 22px;
}

.push-right_23 {
  position: relative;
  right: 23px;
}

.push-right_24 {
  position: relative;
  right: 24px;
}

.push-right_25 {
  position: relative;
  right: 25px;
}

.push-right_26 {
  position: relative;
  right: 26px;
}

.push-right_27 {
  position: relative;
  right: 27px;
}

.push-right_28 {
  position: relative;
  right: 28px;
}

.push-right_29 {
  position: relative;
  right: 29px;
}

.push-right_30 {
  position: relative;
  right: 30px;
}

.push-right_31 {
  position: relative;
  right: 31px;
}

.push-right_32 {
  position: relative;
  right: 32px;
}

.push-right_33 {
  position: relative;
  right: 33px;
}

.push-right_34 {
  position: relative;
  right: 34px;
}

.push-right_35 {
  position: relative;
  right: 35px;
}

.push-right_36 {
  position: relative;
  right: 36px;
}

.push-right_37 {
  position: relative;
  right: 37px;
}

.push-right_38 {
  position: relative;
  right: 38px;
}

.push-right_39 {
  position: relative;
  right: 39px;
}

.push-right_40 {
  position: relative;
  right: 40px;
}

.push-right_41 {
  position: relative;
  right: 41px;
}

.push-right_42 {
  position: relative;
  right: 42px;
}

.push-right_43 {
  position: relative;
  right: 43px;
}

.push-right_44 {
  position: relative;
  right: 44px;
}

.push-right_45 {
  position: relative;
  right: 45px;
}

.push-right_46 {
  position: relative;
  right: 46px;
}

.push-right_47 {
  position: relative;
  right: 47px;
}

.push-right_48 {
  position: relative;
  right: 48px;
}

.push-right_49 {
  position: relative;
  right: 49px;
}

.push-right_50 {
  position: relative;
  right: 50px;
}

.push-right_51 {
  position: relative;
  right: 51px;
}

.push-right_52 {
  position: relative;
  right: 52px;
}

.push-right_53 {
  position: relative;
  right: 53px;
}

.push-right_54 {
  position: relative;
  right: 54px;
}

.push-right_55 {
  position: relative;
  right: 55px;
}

.push-right_56 {
  position: relative;
  right: 56px;
}

.push-right_57 {
  position: relative;
  right: 57px;
}

.push-right_58 {
  position: relative;
  right: 58px;
}

.push-right_59 {
  position: relative;
  right: 59px;
}

.push-right_60 {
  position: relative;
  right: 60px;
}

.push-right_61 {
  position: relative;
  right: 61px;
}

.push-right_62 {
  position: relative;
  right: 62px;
}

.push-right_63 {
  position: relative;
  right: 63px;
}

.push-right_64 {
  position: relative;
  right: 64px;
}

.push-right_65 {
  position: relative;
  right: 65px;
}

.push-right_66 {
  position: relative;
  right: 66px;
}

.push-right_67 {
  position: relative;
  right: 67px;
}

.push-right_68 {
  position: relative;
  right: 68px;
}

.push-right_69 {
  position: relative;
  right: 69px;
}

.push-right_70 {
  position: relative;
  right: 70px;
}

.push-right_71 {
  position: relative;
  right: 71px;
}

.push-right_72 {
  position: relative;
  right: 72px;
}

.push-right_73 {
  position: relative;
  right: 73px;
}

.push-right_74 {
  position: relative;
  right: 74px;
}

.push-right_75 {
  position: relative;
  right: 75px;
}

.push-right_76 {
  position: relative;
  right: 76px;
}

.push-right_77 {
  position: relative;
  right: 77px;
}

.push-right_78 {
  position: relative;
  right: 78px;
}

.push-right_79 {
  position: relative;
  right: 79px;
}

.push-right_80 {
  position: relative;
  right: 80px;
}

.push-right_81 {
  position: relative;
  right: 81px;
}

.push-right_82 {
  position: relative;
  right: 82px;
}

.push-right_83 {
  position: relative;
  right: 83px;
}

.push-right_84 {
  position: relative;
  right: 84px;
}

.push-right_85 {
  position: relative;
  right: 85px;
}

.push-right_86 {
  position: relative;
  right: 86px;
}

.push-right_87 {
  position: relative;
  right: 87px;
}

.push-right_88 {
  position: relative;
  right: 88px;
}

.push-right_89 {
  position: relative;
  right: 89px;
}

.push-right_90 {
  position: relative;
  right: 90px;
}

.push-right_91 {
  position: relative;
  right: 91px;
}

.push-right_92 {
  position: relative;
  right: 92px;
}

.push-right_93 {
  position: relative;
  right: 93px;
}

.push-right_94 {
  position: relative;
  right: 94px;
}

.push-right_95 {
  position: relative;
  right: 95px;
}

.push-right_96 {
  position: relative;
  right: 96px;
}

.push-right_97 {
  position: relative;
  right: 97px;
}

.push-right_98 {
  position: relative;
  right: 98px;
}

.push-right_99 {
  position: relative;
  right: 99px;
}

.push-right_100 {
  position: relative;
  right: 100px;
}
/*# sourceMappingURL=style.css.map */