body {
    background-color: #000;
    color: #fff
}
section {
    width: 100vw;
    height: 100vh;
}

#area02 {
    background-color: rgb(92, 92, 92);
}

.box {
    width : 100px;
    height : 100px;
    background-color: #ff0000;
}

.active {
    background-color: rgb(149, 255, 0);
}

.text {
    width: 100vw;
    height: 25vh;
    position: relative;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #505050;
}

#area05 {
    background-color: rgb(189, 189, 189);
}