body {
    background-color: #000;
    color: #fff
}
section {
    width: 100vw;
    height: 100vh;
}

#area02 {
    background-color: rgb(92, 92, 92);
}

.box {
    width : 100px;
    height : 100px;
    background-color: #ff0000;
}