@import 'sass/base/var';
@import 'sass/base/reset';
@import 'sass/base/common';
@import 'sass/layout/header';
@import 'sass/layout/footer';
@import 'sass/layout/login';
@import 'sass/page/index';
@import 'sass/page/aboutus';
 


body {
    padding: 0;
    color: $color;
    margin: $margin;
    font-size: $fontsize;
    background-color: map-get($btn-color , 'yellow');
}


// nesting
.wrapper {
    width: 1200px;
    margin: 0 auto;
    .row {
        display: flex;
        width: 100%;
        h1 {
           font-size: $fontsize * 2; 
        }
        p {
           font-size: $fontsize - 3 ; 
           span {
               font: $fontsize - 6 ;
           }
        }
        $btncolor:  #36fca6 ;
        .btncolor{
            width: 200px;
            height: 40px;
            // background-color: #86e600;
            // background-color: lighten($btncolor , 0)  ;//變亮
            background-color: darken($btncolor , 20)  ; // 變暗
            cursor: pointer;
            transition: .2s all ease-in-out;
            &:hover {
                background-color: darken($btncolor , 20);
            }
            &::after {
                content: '';
            }
            &::before {
                content: '';
            } 
        }
        // .btncolor:hover {
        //     background-color: darken($btncolor , 20)  ;
        // }
        
    }
}

// .wrapper .row h1 {
//     font-size: $h1;
// }

// .wrapper .row p {
//     font-size: 14px;
// }


