@import 'sass/base/var';
@import 'sass/mixins/mixin';
@import 'sass/base/reset';
/*boostrap-sass start*/
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
/*boostrap-sass end*/
@import 'sass/base/common';
@import 'sass/layout/header';
@import 'sass/layout/footer';
@import 'sass/layout/login';
@import 'sass/page/index';
@import 'sass/page/aboutus';
 


body {
    padding: 0;
    color: $color;
    margin: $margin;
    font-size: $fontsize;
    background-color: map-get($btn-color , 'yellow');
}


// nesting
.wrapper {
    width: 1200px;
    margin: 0 auto;
    .row {
        display: flex;
        width: 100%;
        h1 {
           font-size: $fontsize * 2; 
        }
        p {
           font-size: $fontsize - 3 ; 
           span {
               font: $fontsize - 6 ;
           }
        }
        $btncolor:  #36fca6 ;
        .btncolor{
            width: 200px;
            height: 40px;
            // background-color: #86e600;
            // background-color: lighten($btncolor , 0)  ;//變亮
            background-color: darken($btncolor , 20)  ; // 變暗
            cursor: pointer;
            transition: .2s all ease-in-out;
            &:hover {
                background-color: darken($btncolor , 20);
            }
            &::after {
                content: '';
            }
            &::before {
                content: '';
            } 
        }
        // .btncolor:hover {
        //     background-color: darken($btncolor , 20)  ;
        // }
        
    }
}

// function name(){
//    //do something 
// }




// call
.box {
//   @include margincenter(); 
  @include rect();
}

.box-wide {
   @include margincenter();  
   @include rect_v(1200px , 2vh);
}
.box-small {
   @include rect_v(80%, 50vh);
   @include margincenter();
}
.btn-large {
    @include btn(20px, 300px , #00ffd0 , #333 )
} 

.btn-medium {
    @include btn(15px, 150px , #7700ff , #fbff04 );
    // border-radius: 20px;
} 

.btn-small {
    @include btn(14px, 90px , #fc7070 , #ffffff );
    border-radius: 20px;
    margin-top: 10px;
} 
















