body {
    padding: 10px;
    margin: 0;
    background-color: rgb(38, 38, 38);
}

.box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #78fc05;
}



