@import 'sass/base/var';
@import 'sass/base/reset';
@import 'sass/base/common';
@import 'sass/layout/header';
@import 'sass/layout/footer';
@import 'sass/layout/login';
@import 'sass/page/index';
@import 'sass/page/aboutus';
 


body {
    padding: 0;
    color: $color;
    margin: $margin;
    font-size: $fontsize;
    background-color: map-get($btn-color , 'yellow');
}


// nesting
.wrapper {
    width: 1200px;
    margin: 0 auto;
    .row {
        display: flex;
        width: 100%;
        h1 {
           font-size: $fontsize * 2; 
        }
        p {
           font-size: $fontsize - 3 ; 
           span {
               font: $fontsize - 6 ;
           }
        }
        $btncolor:  #36fca6 ;
        .btncolor{
            width: 200px;
            height: 40px;
            // background-color: #86e600;
            // background-color: lighten($btncolor , 0)  ;//變亮
            background-color: darken($btncolor , 20)  ; // 變暗
            cursor: pointer;
            transition: .2s all ease-in-out;
            &:hover {
                background-color: darken($btncolor , 20);
            }
            &::after {
                content: '';
            }
            &::before {
                content: '';
            } 
        }
        // .btncolor:hover {
        //     background-color: darken($btncolor , 20)  ;
        // }
        
    }
}

// function name(){
//    //do something 
// }

// function
@mixin margincenter(){
    margin-left:auto ;
    margin-right: auto;
    margin-top: 10px;
}

// no value
@mixin rect() {
    width: 100px;
    height: 50px;
    @include margincenter();
}

@mixin rect_v($w:100% , $h:100vh) {
    width: $w;
    height: $h;
}  // 預設值

// call
.box {
//   @include margincenter(); 
  @include rect();
}

.box-wide {
   @include margincenter();  
   @include rect_v(1200px , 2vh);
}
.box-small {
   @include rect_v(80%, 50vh);
   @include margincenter();
}

@mixin btn($fsize , $w , $bgc , $color){
   font-size: $fsize; 
  width: $w;
  background-color: $bgc;
  color :$color;
  padding: 20px;
  text-align: center;
  border:1px solid darken($bgc , 5) ;
  transition: .3s all ease-in-out;
  &:hover {
    background-color: darken($bgc , 20);  
  }
}

.btn-large {
    @include btn(20px, 300px , #00ffd0 , #333 )
} 













