// function
@mixin margincenter(){
    margin-left:auto ;
    margin-right: auto;
    margin-top: 10px;
}

// no value
@mixin rect() {
    width: 100px;
    height: 50px;
    @include margincenter();
}

@mixin rect_v($w:100% , $h:100vh) {
    width: $w;
    height: $h;
}  // 預設值

@mixin rect_default($w  ,$h:null) {
    width: $w;
    height: $h;
}  // 預設值


@mixin  textalign($var:center) {
    text-align: $var;
}

@mixin animation($sec) {
    transition: $sec all ease-in-out;
}

@mixin btn($fsize , $w , $bgc , $color){
  font-size: $fsize; 
  @include rect_default($w);
  background-color: $bgc;
  color :$color;
  padding: 20px;
  @include textalign();
  border:1px solid darken($bgc , 5) ;
  @include animation(.4s);
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: darken($bgc , 20);  
  }
}