/* 註解 */
$fontsize : 18px;//body 預設大小
$h1 : 40px;     // 數值
$color : #333; // 顏色
$fontfamily : '微軟正黑'; // 字串
$margin: 10px 20px 30px 10px; // list
$null : null ;
$aa : true;
$btn-color : (
    'blue' : #1900fe,
    'yellow' : #fefe00
);   // map