body {
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    h1 {
       font-size: 40px; 
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 15px;
    }
}